.div1{
background-color:rgb(33, 104, 228);

align-items: center;
align-content: center;
margin-left:px ;
height: 45px;
border: 2px solid whitesmoke;

}
body{
    background-image:url(background.jpg);
    background-size: 100% 900px ;
    background-repeat: no-repeat;
    
}
h1{margin-top: 160px;
align-items: center;
text-align: center;
color: rgb(255, 255, 255);
font-size: 1000%;
}